@tailwind base;
@tailwind components;
@tailwind utilities;

.vam-talkie-container {
	background-image: url("background.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
}
